header{
    border-style:50px;
    height:110px;
    justify-content:space-between;
    display: flex;
    align-items: center;
    border: 5px solid rgb(250, 250, 250);
    background-color: rgb(6, 28, 88);
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;

}
body{
    background-color: black;
}

#botao li {
    margin: 40px;
    width: 50% !important;
}

#botao{
    list-style-type:none;
    display:flex;
   
}
#botao button{
    background-color: rgb(66, 145, 235);
    border: 4px solid rgb(247, 247, 247);
    color:  rgb(0, 0, 0);
    height: 75px;
    width: 130px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    transition-duration: .3s;
    border-radius: 20px 20px 20px 20px;

}

#botao button:hover {
    background-color: rgb(178, 161, 238);
    scale: 1.08;
}

.imagem {
    text-align: center;
    margin:  0 auto;
    display: flex;
}
.image{
    text-align: center;
}
.imagem-container{
    margin: 0 auto;
}

h3{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h5{
    color: aliceblue;
}
h1{
    color: rgb(252, 252, 252);
}
p{
    color: rgb(255, 255, 255);
}

button {
    background-color: rgb(15, 29, 110);
    border: 4px solid rgb(55, 155, 180);
    width: 240px;
    height: 45px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition-duration: .3s;
    border-radius: 20px 20px 20px 20px;
}
button:hover {
    background-color: rgb(146, 158, 226);
    color: rgb(1, 51, 95);
    scale: 1.08;
}